<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Service Project Categories</h2>

        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>

        <p>
            Want to add a new service category?
            <a href="/new-category">
                Create a new category
            </a>.
        </p>
    </main>

    <%- include('partials/footer') %>