<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Dashboard</h2>

        <p>
            Name:
            <%= name %>
        </p>

        <p>
            Email:
            <%= email %>
        </p>

        <% if (roleId===2) { %>
            <p>
                <a href="/users">
                    View Registered Users
                </a>
            </p>
            <% } %>

                <h3>My Volunteer Projects</h3>

                <% if (volunteerProjects.length===0) { %>

                    <p>
                        You have not signed up for any projects yet.
                    </p>

                    <% } else { %>

                        <ul>
                            <% volunteerProjects.forEach(project=> { %>

                                <li>
                                    <a href="/project/<%= project.project_id %>">
                                        <%= project.title %>
                                    </a>

                                    -
                                    <a href="/remove-volunteer/<%= project.project_id %>">
                                        Remove
                                    </a>
                                </li>

                                <% }) %>
                        </ul>

                        <% } %>
    </main>

    <%- include('partials/footer') %>