<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= projectDetails.title %>
        </h2>

        <p>
            <strong>Description:</strong>
            <%= projectDetails.description %>
        </p>

        <p>
            <strong>Location:</strong>
            <%= projectDetails.location %>
        </p>

        <p>
            <strong>Date:</strong>
            <%= projectDetails.date %>
        </p>

        <p>
            <strong>Organization:</strong>
            <%= projectDetails.organization_name %>
        </p>

        <p>
            <strong>Categories:</strong>
        </p>

        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>


        </ul>

        <% if (isLoggedIn) { %>

            <% if (userIsVolunteer) { %>

                <p>
                    You are volunteering for this project.
                </p>

                <p>
                    <a href="/remove-volunteer/<%= projectDetails.project_id %>">
                        Stop Volunteering
                    </a>
                </p>

                <% } else { %>

                    <p>
                        <a href="/volunteer/<%= projectDetails.project_id %>">
                            Volunteer For This Project
                        </a>
                    </p>

                    <% } %>

                        <% } %>

                            <% if (isAdmin) { %>
                                <p>
                                    <a href="/edit-project/<%= projectDetails.project_id %>">
                                        Edit Project
                                    </a>
                                </p>
                                <% } %>


    </main>

    <%- include('partials/footer') %>