<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= projectDetails.title %>
        </h2>

        <p>
            <strong>Description:</strong>
            <%= projectDetails.description %>
        </p>

        <p>
            <strong>Location:</strong>
            <%= projectDetails.location %>
        </p>

        <p>
            <strong>Date:</strong>
            <%= projectDetails.date %>
        </p>

        <p>
            <strong>Organization:</strong>
            <%= projectDetails.organization_name %>
        </p>

        <p>
            <strong>Categories:</strong>
        </p>

        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }); %>
        </ul>

    </main>

    <%- include('partials/footer') %>